name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: modify readme
        run: sed '2 i\ \n### Currently our original code is available at [xvyaward/owq](https://github.com/xvyaward/owq).\n' README.md -i
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: './'
          destination-github-username: 'ECoLab-POSTECH'
          destination-repository-name: 'OWQ'
          user-email: ckdgnsrhkspd@naver.com
          target-branch: main